* {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(185, 41%, 84%);
}
@media (min-width: 1023px) {
  body {
    font-size: 24px;
  }
}
@media (min-width: 376px) and (max-width: 1023px) {
  body {
    font-size: 18px;
  }
}
@media (max-width: 376px) {
  body {
    font-size: 12px;
  }
}

.container {
  padding: 80px 0;
}
.container .header--word-wrap {
  text-align: center;
  color: hsl(183, 100%, 15%);
  text-transform: uppercase;
  letter-spacing: 10px;
}
.container .caculator {
  background-color: hsl(0, 0%, 100%);
  width: 60%;
  margin: 0 auto;
  margin-top: 2rem;
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 376px) {
  .container .caculator {
    flex-direction: column;
    margin: 0;
    width: 100%;
  }
}
@media (min-width: 376px) and (max-width: 1023px) {
  .container .caculator {
    width: 80%;
  }
}
.container .content__block {
  flex: 1;
  margin: 0 0.5rem;
}
.container .block--left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container .block--left .form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0.5rem 0;
}
.container .block--left .form__title {
  margin-bottom: 10px;
  color: hsl(186, 14%, 43%);
  font-size: 1rem;
}
.container .block--left .form .forn__input {
  position: relative;
}
.container .block--left .form .forn__input input {
  padding: 0.5rem 0.5rem 0.5rem 1.3rem;
  border: none;
  background-color: hsl(189, 41%, 97%);
  text-align: right;
  width: 100%;
  font-size: 24px;
}
.container .block--left .form .forn__input svg {
  position: absolute;
  width: 8%;
  height: 100%;
  padding: 2px;
  margin-left: 8px;
  color: hsl(185, 41%, 84%);
}
.container .block--left .form ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}
.container .block--left .form ul .tip__select {
  text-align: center;
  padding: 0.5rem 0;
  border-radius: 10px;
  font-size: 1rem;
  background-color: hsl(183, 100%, 15%);
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}
.container .block--left .form ul .tip__select:hover {
  opacity: 0.7;
}
.container .block--left .form ul .active {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}
.container .block--left .form ul input {
  font-size: 1rem;
  border-radius: 10px;
  height: 100%;
  padding: 0.5rem 0;
  background-color: hsl(185, 41%, 84%);
  text-align: center;
  width: 100%;
  color: hsl(186, 14%, 43%);
  border: none;
}
.container .block--right {
  background-color: hsl(183, 100%, 15%);
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
}
.container .block--right .description {
  flex: 1;
}
.container .block--right .description {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem;
}
.container .block--right .description__title {
  padding: 0.5rem 0;
  color: hsl(0, 0%, 100%);
  font-size: 1rem;
}
.container .block--right .description__aside {
  font-size: 0.5rem;
  color: hsl(184, 14%, 56%);
  font-size: 0.5rem;
}
.container .block--right .description__money {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5rem;
  font-size: 1.8rem;
  color: hsl(172, 67%, 45%);
}
.container .block--right .description__button {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}
.container .block--right .description__button button {
  align-self: flex-end;
  width: 100%;
  padding: 0.5rem;
  background-color: hsl(172, 67%, 45%);
  border: none;
  border-radius: 10px;
}
.container .block--right .description__button button:hover {
  opacity: 0.7;
}
.container .block--right .description__button .active {
  background-color: hsl(186, 14%, 43%);
  color: hsl(183, 100%, 15%);
}/*# sourceMappingURL=styles.css.map */